<%= form_with(model: featurename, local: true) do |form| %>
  <% if featurename.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(featurename.errors.count, "error") %> prohibited this featurename from being saved:</h2>

      <ul>
      <% featurename.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attribute %>
    <%= form.text_field :attribute, id: :featurename_attribute %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
